* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body font style */
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 55%;
}

/* Card */

.music-card {
  margin-top: 145px;
  background-color: white;
  width: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 20px 20px hsl(224, 67%, 86%);
}

/* Hero image header */
.hero-header .image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/* hero image header */
.hero-header {
  display: flex;
  justify-content: center;
}

/* middle container */

/* summary section */
.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* summary header */
h1 {
  /* text-align: center; */
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-top: 40px;
}

/* paragraph description */
.description {
  color: hsl(224, 23%, 55%);
  padding-top: 15px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
  padding-top: 20px;
}

.description p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* inner box section */
.inner-box {
  height: 100px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: hsl(225, 100%, 98%);
  margin-top: 25px;
}

/* MIDDLE SECTION */

/* music icon */
.music-img {
  margin-right: 10px;
}

/* annual year div */
.ann-yr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 80px;
}

/* annual plan */
h4 {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  margin-left: 10px;
  padding-bottom: 9px;
}

/* price */
.price {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  margin-left: 11px;
}

/* change */
.change {
  letter-spacing: 0.5px;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  cursor: pointer;
}

.change :hover {
  color: hsl(245, 100%, 71%);
}

/* selection button */
.selection {
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 35px;
}

/* payment button */
.payment {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 350px;
  height: 50px;
  border-radius: 15px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border: none;
  box-shadow: 0px 25px 20px hsl(224, 73%, 90%);
  cursor: pointer;
}

/* Proceed payment button */
.selection :hover {
  background-color: hsl(245, 100%, 71%);
}

/* cancel button  */
.cancel {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 40px;
  color: hsl(224, 23%, 55%);
}

.cancel :hover {
  color: black;
  cursor: pointer;
}

/* Footer */
footer {
  padding-top: 38px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries */

/* Large Tablets */
@media screen and (max-width: 1280px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }

  /* Card */
  .music-card {
    margin-top: 135px;
  }
}

/* Medium Tablets */
@media screen and (max-width: 768px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 55%;
  }
  /* Card */

  .music-card {
    margin-top: 135px;
  }

  /* cancel button  */
  .cancel {
    margin-top: 20px;
  }

  /* Footer */
  footer {
    padding-top: 68px;
  }
}

@media screen and (max-width: 576px) {
  body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 30%;
  }

  /* Card */
  .music-card {
    margin-top: 85px;
    background-color: white;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Hero image header */
  .hero-header .image {
    width: 350px;
  }

  /* summary header */
  h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
  }

  /* paragraph description */
  .description {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding-top: 15px;
    letter-spacing: 0.5px;
  }

  .description p {
    font-size: 12px;
  }

  /* inner box section */
  .inner-box {
    background-color: hsl(225, 100%, 98%);
    height: 90px;
    width: 305px;
  }

  /* annual year div */
  .ann-yr {
    margin-right: 55px;
  }

  /* annual plan */
  h4 {
    padding-bottom: 1px;
    font-size: 1rem;
  }

  /* price */
  .price {
    font-size: 1rem;
  }

  /* change */
  .change {
    font-size: 14px;
    border: none;
  }

  /* selection button */
  .selection {
    margin-top: 25px;
  }

  /* payment button */
  .payment {
    width: 305px;
  }

  /* cancel button  */
  .cancel {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 376px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 31%;
  }

  /* Card */
  .music-card {
    margin-top: 65px;
    margin-bottom: 10px;
    background-color: white;
    width: 325px;
  }

  /* Hero image header */
  .hero-header .image {
    width: 325px;
  }

  /* paragraph description */
  .description {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
  }

  /* inner box section */
  .inner-box {
    width: 300px;
  }

  /* annual year div */
  .ann-yr {
    margin-right: 40px;
  }

  /* annual plan */
  h4 {
    font-size: 15px;
  }

  /* price */
  .price {
    font-size: 15px;
  }

  /* payment button */
  .payment {
    width: 300px;
    height: 50px;
  }

  /* cancel button  */
  .cancel {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  /* Footer */
  footer {
    padding-top: 18px;
  }
}
