* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

/* WRAPPER */

/* WAVES BACKGROUND */
.background {
  background-color: hsl(225, 100%, 94%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Card */
.music-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 5px 10px 18px hsl(224, 23%, 55%);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Hero image */
.hero-header .image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  max-width: 100%;
}

/* hero image header */
.hero-header {
  display: flex;
  justify-content: center;
}

/* middle container */
.middle {
  background-color: white;
  width: 450px;
  height: 410px;
  padding-top: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* summary section */
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* summary header */
h1 {
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 0.5px;
}

/* paragraph description */
.description {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  text-align: center;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

/* inner box section */
.inner-box {
  width: 400px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 8px;
  background-color: hsl(225, 100%, 98%);
  margin-top: 20px;
}

/* MIDDLE SECTION */

/* music icon */
.music-img {
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* annual year div */
.ann-yr {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* annual plan */
h4 {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 900;
}

/* price */
.price {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  padding-top: 0.3rem;
}

/* change */
.change {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  margin-left: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  cursor: pointer;
}

.change :hover {
  color: hsl(245, 100%, 71%);
}

/* selection button */
.selection {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* cursor: pointer; */
}

/* payment button */
.payment {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border: none;
  box-shadow: 5px 10px 18px hsl(224, 23%, 55%);
  cursor: pointer;
}

.selection :hover {
  background-color: hsl(245, 100%, 71%);
}
/* cancel button  */
.cancel {
  font-family: inherit;
  margin-top: 20px;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cancel :hover {
  color: black;
}
